In [26]:
import pandas as pd

In [28]:
df= pd.read_csv("personal_finance_data.csv")

In [30]:
df.head()

,Date / Time,Mode,Category,Sub category,Income/Expense,Debit/Credit
0,"Friday, January 1, 2021",CUB - online payment,Allowance,From dad,Income,8000.0
1,"Friday, January 1, 2021",CUB - online payment,Food,Snacks,Expense,85.0
2,"Sunday, January 3, 2021",CUB - online payment,Other,From dad,Income,500.0
3,"Sunday, January 3, 2021",CUB - online payment,Household,Stuffs,Expense,6667.0
4,"Sunday, January 3, 2021",CUB - online payment,Transportation,Metro,Expense,30.0

In [32]:
df.isnull().sum()

Date / Time       0
Mode              0
Category          0
Sub category      0
Income/Expense    0
Debit/Credit      0
dtype: int64

In [34]:
df['Date / Time'] = pd.to_datetime(df['Date / Time'], format='%A, %B %d, %Y')

In [36]:
df.head()

,Date / Time,Mode,Category,Sub category,Income/Expense,Debit/Credit
0,2021-01-01,CUB - online payment,Allowance,From dad,Income,8000.0
1,2021-01-01,CUB - online payment,Food,Snacks,Expense,85.0
2,2021-01-03,CUB - online payment,Other,From dad,Income,500.0
3,2021-01-03,CUB - online payment,Household,Stuffs,Expense,6667.0
4,2021-01-03,CUB - online payment,Transportation,Metro,Expense,30.0

In [38]:
df['short_date'] = df['Date / Time'].dt.strftime('%Y-%m-%d')

In [40]:
df['day_name'] = df['Date / Time'].dt.day_name()

In [42]:
df.head()

,Date / Time,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,2021-01-01,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,2021-01-01,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,2021-01-03,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,2021-01-03,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,2021-01-03,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [44]:
df.to_csv("personal_new_data.csv", index=False)

In [46]:
df.head()

,Date / Time,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,2021-01-01,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,2021-01-01,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,2021-01-03,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,2021-01-03,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,2021-01-03,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [48]:
df.drop(columns=['Date / Time'], inplace=True)

In [50]:
df.head()

,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [52]:
df.columns = df.columns.str.strip()

In [53]:
df.head()

,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [54]:
df.isnull().sum()

Mode              0
Category          0
Sub category      0
Income/Expense    0
Debit/Credit      0
short_date        0
day_name          0
dtype: int64

In [56]:
df.dropna(inplace=True)

In [58]:
df.drop_duplicates(inplace=True)

In [60]:
df.to_csv("personal_new_data.csv", index=False)

In [62]:
df.head()

,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [64]:
total_credit = df[df['Income/Expense'] == 'Income']['Debit/Credit'].sum()
print("Total credit:", total_credit)
total_debit = df[df['Income/Expense'] == 'Expense']['Debit/Credit'].sum()
print("Total credit:", total_debit)

Total credit: 698147.0
Total credit: 149853.28

In [66]:
df['Category'].count()

225

In [68]:
df['Category'].value_counts()

Category
Food              114
Other              50
Transportation     26
Household          12
salary              9
apparel             5
Apparel             3
Salary              3
Allowance           2
Education           1
Name: count, dtype: int64

In [70]:
print(df)

                     Mode        Category           Sub category  \
0    CUB - online payment       Allowance               From dad
1    CUB - online payment            Food                 Snacks
2    CUB - online payment           Other               From dad
3    CUB - online payment       Household                 Stuffs
4    CUB - online payment  Transportation                  Metro
..                    ...             ...                    ...
220  CUB - online payment           Other            From Deepak
221  CUB - online payment            Food  Horlicks + kolakattai
222  CUB - online payment          Salary                 office
223  CUB - online payment  Transportation           Pg to office
224  CUB - online payment            Food              To barath

    Income/Expense  Debit/Credit  short_date  day_name
0           Income        8000.0  2021-01-01    Friday
1          Expense          85.0  2021-01-01    Friday
2           Income         500.0  2021-01-03    Sunday
3          Expense        6667.0  2021-01-03    Sunday
4          Expense          30.0  2021-01-03    Sunday
..             ...           ...         ...       ...
220         Income         250.0  2021-12-30  Thursday
221        Expense          25.0  2021-12-30  Thursday
222         Income       55530.0  2021-12-30  Thursday
223        Expense          43.0  2021-12-30  Thursday
224        Expense          20.0  2021-12-30  Thursday

[225 rows x 7 columns]

In [82]:
df['short_date'] = pd.to_datetime(df['short_date'], format='%Y-%m-%d')

In [84]:
df.head()

,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [76]:
df.dtypes

Mode               object
Category           object
Sub category       object
Income/Expense     object
Debit/Credit      float64
short_date         object
day_name           object
dtype: object

income = df[df['Income/Expense'] == 'Income']

In [86]:
monthly_income_start = income.groupby(
    pd.Grouper(key='short_date', freq='MS')
)['Debit/Credit'].sum()

print(monthly_income_start)

NameError: name 'income' is not defined

In [88]:
df.head()

,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name
0,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday
1,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday
2,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday
3,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday
4,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday

In [113]:
df['Month'] = df['short_date'].dt.month

In [115]:
df.head()

,Mode,Category,Sub category,Income/Expense,Debit/Credit,short_date,day_name,Month
0,CUB - online payment,Allowance,From dad,Income,8000.0,2021-01-01,Friday,1
1,CUB - online payment,Food,Snacks,Expense,85.0,2021-01-01,Friday,1
2,CUB - online payment,Other,From dad,Income,500.0,2021-01-03,Sunday,1
3,CUB - online payment,Household,Stuffs,Expense,6667.0,2021-01-03,Sunday,1
4,CUB - online payment,Transportation,Metro,Expense,30.0,2021-01-03,Sunday,1

In [117]:
df['month_name'] = pd.to_datetime(df['Month'], format='%m').dt.month_name()

In [ ]:
income = df[df['Income/Expense'] == 'Income']
monthly_income = income.groupby(['Month','month_name'])['Debit/Credit'].sum()
print(monthly_income)

In [391]:
income = df[df['Income/Expense'] == 'Expense']
monthly_expense = income.groupby(['Month','month_name'])['Debit/Credit'].sum()
print(monthly_expense)

Month  month_name
1      January       13244.15
2      February      17200.95
3      March         11145.00
4      April         20739.00
5      May            8945.72
6      June          12651.81
7      July           8694.00
8      August         5711.00
9      September      6662.00
10     October       13521.00
11     November       7312.90
12     December      24025.75
Name: Debit/Credit, dtype: float64

In [393]:
max_income_value= monthly_income.max()
max_income_month = monthly_income.idxmax()
print (f"The highest income is $ {max_income_value} in {max_income_month}")

The highest income is $ 71460.0 in (12, 'December')

In [395]:
max_expense_value= monthly_expense.max()
max_expense_month = monthly_expense.idxmax()
print (f"The highest spend is $ {max_expense_value} in {max_expense_month}")

The highest spend is $ 24025.75 in (12, 'December')

In [101]:
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df['day_name'] = pd.Categorical(df['day_name'], categories=day_order, ordered=True)
max_expense_perday = df.groupby('day_name')['Debit/Credit'].max()
sorted_expense = max_expense_perday.sort_index()
print(sorted_expense)

day_name
Monday       55000.0
Tuesday      55000.0
Wednesday    55000.0
Thursday     55530.0
Friday       55140.0
Saturday      5120.0
Sunday       55240.0
Name: Debit/Credit, dtype: float64

C:\Users\deche\AppData\Local\Temp\ipykernel_10608\2050018572.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  max_expense_perday = df.groupby('day_name')['Debit/Credit'].max()

In [103]:
max_day = max_expense_perday.idxmax()
max_value = max_expense_perday.max()

print(f"The highest expense was ${max_value} on {max_day}.")

The highest expense was $55530.0 on Thursday.

In [105]:
min_day = max_expense_perday.idxmin()
min_value = max_expense_perday.min()

print(f"The lowest expense was ${min_value} on {min_day}.")

The lowest expense was $5120.0 on Saturday.